.reports-gui-container {
  margin-top: 3vh;
  // margin-left: 2vw;
  // margin-right: 2vw;
}

.btn-reports-choices-container {
  text-align: center;
  margin-top: 3vh;
}

.text-report-presentation {
  margin-top: 3vh;

  thead {
    tr {
      background-color: aliceblue;
    }

    th {
      color: #141f46;
    }
  }
}
