.adminPageHeader {
  color: #fff;

  h1 {
    animation: bounce;
    animation-duration: 1s;
  }

  .adminHeaderContainer {
    padding-top: 8vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    background-color: #141f46;
  }

  .btn-header-show-more {
    button {
      float: right;
      color: #fff;
      transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
      transition-timing-function: ease-in-out;
      &:hover {
        color: #141f46 !important;
        background-color: #fff !important;
        border-radius: 70px;
      }
    }
  }
}

.adminHorizontalLine {
  margin-top: -5vh;
}

.typeOfWork-text-container {
  margin-top: 7vh;
  margin-left: 1vw;

  h5 {
    background-color: aliceblue;
    padding: 1vw;
    border-top-right-radius: 10px;
  }

  ul {
    list-style: none;
  }

  li {
    padding: 0.5vw;
    transition: color 0.3s, font-weight 0.3s, list-style 0.3s;
    &:hover {
      color: #141f46;
      font-weight: bold;
      list-style: square;
    }
  }
}

.typeOfWork-table {
  height: 100vh !important;
  margin-top: 3vh;
  // margin-left: -1vw;
  padding-bottom: 40vh;

  button {
    border: 1px solid #2196f3;
    background-color: #2196f3;
    color: #fff;
  }

  tr {
    transition: background-color 0.5s, border-radius 0.5s;
    transition-timing-function: ease-in-out;

    button{
      transition: border-radius 0.5s;
      transition-timing-function: ease-in-out;
    }

    &:hover {
      background-color: aliceblue;

      button {
        border-radius: 30px;
      }
    }
  }
}
