.admin-settings-container {
  .jumbotron {
    background-color: aliceblue !important;
  }

  img {
    display: block;
    margin: auto;
    width: 10vw;
    margin-top: -15vh;
  }

  h5 {
    text-align: center;
  }
}
