
.table-data {
  margin-top: 7vh;
  margin-left: 2vw;
  margin-right: 2vw;
  .table {
    margin-top: 3vh;
    th {
      font-weight: bold;
      font-size: 14px !important;
    }

    td{
      // font-weight: bold;
      font-size: 14px !important;

    }

    thead{
      tr{
        background-color: aliceblue;
      }
    }
  }
}
