.job-request-container {
  overflow: auto;
  margin-top: 7vh;
  padding-bottom: 30vh;
  

  thead {
    tr {
      background-color: aliceblue;
    }
  }

  tbody {
    tr {
      transition: background-color 0.5s;
      transition-timing-function: ease-in-out;
      &:hover {
        background-color: aliceblue;
      }
    }
  }
}
