.adminNav {
  background-color: #212121;
}

.adminPageHeader {
  color: #fff;

  .adminHeaderContainer {
    padding-top: 8vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    background-color: #141f46;
  }

  .btn-header-show-more {
    button {
      float: right;
      color: #fff;
    }
  }
}

.adminHorizontalLine {
  margin-top: -5vh;
}


