.adminNav {
  background-color: #212121;
}

.adminPageHeader {
  color: #fff;

  .adminHeaderContainer {
    padding-top: 8vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    background-color: #141f46;
  }

  .btn-header-show-more {
    button {
      float: right;
      color: #fff;
      transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
      transition-timing-function: ease-in-out;
      &:hover {
        color: #141f46 !important;
        background-color: #fff !important;
        border-radius: 70px;
 
      }
    }
  }
}

.adminHorizontalLine {
  margin-top: -5vh;
}
