

.ButtonFilter {
  position: fixed;
  right: 0;
  top: 30vh;

  button {
    width: 3vw;
    margin-top: 1vh;
    border-radius: 0px;
  }
}

.horizontalLine {
  margin-top: 5vh;
}

.filterLogo {
  width: 1vw;
}

.printReports {
  margin-top: 1vh;
}

.table-data {
  margin-top: 7vh;

  .table {
    th {
      
      font-size: 12px !important;
    }

    thead{
      tr{
        background-color: aliceblue;
      }
    }
  }
}
