.client-job-request-form{
   
    margin-bottom: 10vh;
    h3{
        color: #141F46;
        text-align: center;
    }

    .scope-of-work-input{
        width: 50vw;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
    }

    .btn-job-request{
        text-align: right;
        margin-top: 10vh;
        
        button{
            
            
            transition: font-size 0.2s;
            transition-timing-function: ease-in-out;
            &:hover{
                font-size: large;
            }
        }
    }
}