
.table-data {
  margin-top: 7vh;

  .table {
    th {
      font-weight: bold;
      font-size: 14px !important;
    }

    td{
      // font-weight: bold;
      font-size: 14px !important;

    }

    thead{
      tr{
        background-color: aliceblue;
      }
    }
  }
}
