@import "login";
@import "clientHomePage";
@import "adminHomePage";
body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.loading{
  h5{
    margin-top: 30vh;
    text-align: center;
  }
}

.logoOnNotFound{
  margin-top: 12vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.notFoundPage{
  text-align: center;
  color: #607D8B;

}