@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
nav{
    overflow: hidden !important;
    background-color: #141F46 !important;
    position: fixed !important;
    width: 100vw !important;
}


.logo{
    width: 2vw;
}

.user{
    color: #fff !important;
}

.ButtonFilter{
    position: fixed;
    right: 0;
    top: 25vh;

}

.horizontalLine{
    margin-top: 2vh;
}


.ButtonFilter button{
    width: 3vw;
    margin-top: 1vh;
    border-radius: 0px;
}

.filterLogo{
    width: 1vw;
}

.printReports{
    margin-top: 1vh;
}

.table th{
    padding-left: 2vw !important;
    font-size: 12px !important;

}

.table-data{
    margin-top: 2vh;

}
